{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Wacky Widgets</title>
</head>
<body>
    <div class="container">
        <h1>Wacky Widgets</h1>
        
       
        {% for widget in widgets %}
        <table class="table table-striped">
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            <tr>
                <td>
                    {{ widget.description }}
                </td>
                <td>
                    {{ widget.quantity }}
                </td>
                <td>
                    <a href="{% url 'widgets_delete'  widget.id %}" method="post" class="btn btn-danger bi-x"></a>
                </td>
            </tr>
           
        </table>
        {% empty %}
            <h3> No Widgets Exist</h3>
            <hr>
        {% endfor %}
        <form action="{% url 'widgets_create' %}" method="post">
            <table class="table table-striped">
                {% csrf_token %}
                {{ widget_form.as_table }}
            </table>
            <input type="submit" class="btn btn-success" value="Add Widget"> 
        </form>
    </div>
</body>
</html>


{% endblock %}